{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section">
    <div class="top_box">
        <div class="image">
            <img src="{% static top_product.image %}" alt="error">
        </div>
        <div class="description">
            <div class="name">
                {{ top_product.name }}
            </div>
            <div class="category">
                {{ top_product.category.name }}
            </div>
            <div class="stats">
                {% for key, value in top_product.stats.items %}
                <div class="stat">
                    {{key}}: {{value}}
                </div>
                {% endfor %}
            </div>
            <div class="price">
                {{ top_product.price }}$
            </div>
            <a href="{% url 'product_page' top_product.slug %}">
                <div class="info">
                    <button>Подробнее</button>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="section">
    <div class="section_name">
        Новые
    </div>
    <div class="section_body">
        {% for product in new_products %}
        <a class="box" href="#">
                <div class="image">
                    <img src="{% static product.image %}" alt="error">
                </div>
                <div class="name">
                    {{ product.name }}
                </div>
                <div class="category">
                    {{ product.category }}
                </div>
                <div class="price">
                    {{ product.price }}$
                </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}