{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form_block">
    <div class="text">
        Регистрация
    </div>
    <form action="">
        <div class="input_block">
            <label for="email">
                <img src="{% static 'svg/envelope.svg' %}" alt="">
                Электронны адрес
            </label>
            <input type="email" name="" id="email">
            <div class="invalid_value">
                Некорректно указанный электронный адрес
            </div>
        </div>
        <div class="input_block">
            <label for="username">
                <img src="{% static 'svg/person-fill.svg' %}" alt="">
                Имя пользовател
            </label>
            <input type="text" name="" id="username">
        </div>
        <div class="input_block">
            <label for="password">
                <img src="{% static 'svg/key-fill.svg' %}" alt="">
                Пароль
            </label>
            <input type="password" name="" id="password">
        </div>
        <div class="input_block">
            <label for="repeat_password ">
                <img src="{% static 'svg/key-fill.svg' %}" alt="">
                Повторите пароль
            </label>
            <input type="password" name="" id="repeat_password">
        </div>
        <div class="button_block">
            <button>Зарегестрироваться</button>
        </div>
        <div class="action_block">
            Уже имеется аккаунт? <a href="{% url 'auth_page'%}">
                Войти
            </a>
        </div>
    </form>
</div>
{% endblock %}