.form_block {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 48px auto;
    margin-bottom: 110px;
    padding: 24px;

    .text {
        text-align: center;
        font-size: 22px;
        margin-bottom: 24px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input_block {
        display: flex;
        flex-direction: column;
        margin: 12px 0;
        filter: opacity(0.65);
        transition-duration: 0.1s;

        label {
            img {
                margin-right: 8px;
            }

            margin-bottom: 6px;
        }

        input {
            padding: 6px 12px;
            border: 1px solid #555555;
            border-radius: 6px;
        }

        &:hover {
            filter: opacity(1);
        }
    }

    .button_block {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        transition-duration: 0.2s;

        button {
            padding: 12px 0;
            font-size: 18px;
            color: #fff;
            background-color: #141414;
            border-radius: 6px;
            transition-duration: 0.1s;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .action_block {
        margin: 12px 0;
        text-align: center;

        a {
            color: #353ea2;
            font-weight: 600;
        }
    }
}