@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Phudu&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100%;
}

.inside {
    width: 80%;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #bebebe;
    color: #555555;

    &_body {
        display: flex;
        justify-content: space-between;
        margin: 24px 0;

        .logo {
            display: flex;
            transition-duration: 0.1s;

            .logo_part {
                padding: 0 4px;
                font-family: 'Phudu', cursive;
                font-size: 24px;
            }

            div.reverse {
                color: #fff;
                background-color: #141414;
                border-radius: 4px;
            }

            div.norm {
                font-weight: 600;
                color: #141414;
            }

            &:active {
                transform: scale(0.8);
            }
        }

        .categories {
            display: flex;
            padding: 4px 0;

            .category {
                color: #555555;
                font-size: 16px;
                margin: 0 24px;
                transition-duration: 0.1s;

                &:hover {
                    color: #000;
                }

                &:active {
                    transform: scale(0.8);
                }
            }
        }

        .actions {
            display: flex;

            .action {
                transition-duration: 0.1s;

                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 24px;
                }

                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: scale(0.8);
                }
            }
        }
    }
}

.footer {
    display: flex;
    width: 100%;
    background-color: #141414;

    &_body {
        display: flex;
        justify-content: space-between;
        padding: 36px 0;

        .mailing {
            display: flex;
            flex-direction: column;

            &_text {
                margin-bottom: 18px;
                font-weight: 600;
                font-size: 18px;
                color: #fff;
            }

            &_description {
                margin-bottom: 36px;
                font-size: 14px;
                color: #666;
            }

            &_input {
                input {
                    width: 200px;
                    margin-right: 12px;
                    padding: 8px 16px;
                    background-color: #00000000;
                    border: 1px solid #fff;
                    border-radius: 16px;
                    color: #fff;
                }

                button {
                    padding: 8px 16px;
                    background-color: #ffffff;
                    filter: brightness(0.6);
                    border-radius: 16px;
                    font-weight: 600;
                    color: #000000;
                    transition-duration: (0.1s);

                    &:hover {
                        filter: brightness(1);
                    }
                }
            }
        }

        .column {
            display: flex;
            flex-direction: column;

            &_title {
                margin-bottom: 18px;
                font-size: 18px;
                color: #fff;
            }

            &_text {
                margin-bottom: 8px;
                font-style: 14px;
                color: #fff;
                filter: brightness(0.6);

                &:hover {
                    filter: brightness(1);
                }
            }
        }

        .social {
            &_title {
                margin-bottom: 18px;
                font-size: 18px;
                color: #fff;
            }

            &_site {
                display: flex;
                margin-bottom: 8px;
                filter: brightness(0.6);

                &_icon {
                    height: 18px;
                    width: 18px;
                    margin-right: 8px;

                }

                &_text {
                    color: #fff;
                    font-size: 16px;
                }

                &:hover {
                    filter: brightness(1);
                }
            }
        }


    }
}

.content {
    display: flex;
    position: relative;
    top: 80px;
}