@import 'null.scss';
@import 'navbar.scss';
@import 'footer.scss';
@import 'content.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Phudu&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100%;
}

.inside {
    width: 80%;
    margin: auto;
}