.navbar {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.6274509804);
  border-bottom: 1px solid #bebebe;
  color: #555555;
  z-index: 10;
}
.navbar_body {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.navbar_body .logo {
  display: flex;
  transition-duration: 0.1s;
}
.navbar_body .logo .logo_part {
  padding: 0 4px;
  font-family: "Phudu", cursive;
  font-size: 24px;
}
.navbar_body .logo div.reverse {
  color: #fff;
  background-color: #141414;
  border-radius: 4px;
}
.navbar_body .logo div.norm {
  font-weight: 600;
  color: #141414;
}
.navbar_body .logo:active {
  transform: scale(0.8);
}
.navbar_body .categories {
  display: flex;
  padding: 4px 0;
}
.navbar_body .categories .category {
  color: #555555;
  font-size: 16px;
  margin: 0 24px;
  transition-duration: 0.1s;
}
.navbar_body .categories .category:hover {
  color: #000;
}
.navbar_body .categories .category:active {
  transform: scale(0.8);
}
.navbar_body .actions {
  display: flex;
}
.navbar_body .actions .action {
  transition-duration: 0.1s;
}
.navbar_body .actions .action img {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.navbar_body .actions .action:hover {
  transform: scale(1.2);
}
.navbar_body .actions .action:active {
  transform: scale(0.8);
}