@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Phudu&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.navbar {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.6274509804);
  border-bottom: 1px solid #bebebe;
  color: #555555;
  z-index: 10;
}
.navbar_body {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.navbar_body .logo {
  display: flex;
  transition-duration: 0.1s;
}
.navbar_body .logo .logo_part {
  padding: 0 4px;
  font-family: "Phudu", cursive;
  font-size: 24px;
}
.navbar_body .logo div.reverse {
  color: #fff;
  background-color: #141414;
  border-radius: 4px;
}
.navbar_body .logo div.norm {
  font-weight: 600;
  color: #141414;
}
.navbar_body .logo:active {
  transform: scale(0.8);
}
.navbar_body .categories {
  display: flex;
  padding: 4px 0;
}
.navbar_body .categories .category {
  color: #555555;
  font-size: 16px;
  margin: 0 24px;
  transition-duration: 0.1s;
}
.navbar_body .categories .category:hover {
  color: #000;
}
.navbar_body .categories .category:active {
  transform: scale(0.8);
}
.navbar_body .actions {
  display: flex;
}
.navbar_body .actions .action {
  transition-duration: 0.1s;
}
.navbar_body .actions .action img {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.navbar_body .actions .action:hover {
  transform: scale(1.2);
}
.navbar_body .actions .action:active {
  transform: scale(0.8);
}

.footer {
  display: flex;
  width: 100%;
  background-color: #141414;
  z-index: 10;
}
.footer_body {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
}
.footer_body .mailing {
  display: flex;
  flex-direction: column;
}
.footer_body .mailing_text {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.footer_body .mailing_description {
  margin-bottom: 36px;
  font-size: 14px;
  color: #fff;
  filter: brightness(0.6);
}
.footer_body .mailing_input input {
  width: 200px;
  margin-right: 12px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 16px;
  color: #fff;
}
.footer_body .mailing_input button {
  padding: 8px 16px;
  background-color: #ffffff;
  filter: brightness(0.6);
  border-radius: 16px;
  font-weight: 600;
  color: #000000;
  transition-duration: 0.1s;
}
.footer_body .mailing_input button:hover {
  filter: brightness(1);
}
.footer_body .column {
  display: flex;
  flex-direction: column;
}
.footer_body .column_title {
  margin-bottom: 18px;
  font-size: 18px;
  color: #fff;
}
.footer_body .column_text {
  margin-bottom: 8px;
  font-style: 14px;
  color: #fff;
  filter: brightness(0.6);
}
.footer_body .column_text:hover {
  filter: brightness(1);
}
.footer_body .social_title {
  margin-bottom: 18px;
  font-size: 18px;
  color: #fff;
}
.footer_body .social_site {
  display: flex;
  margin-bottom: 8px;
  filter: brightness(0.6);
}
.footer_body .social_site_icon {
  height: 14px;
  width: 14px;
  margin-right: 8px;
}
.footer_body .social_site_text {
  color: #fff;
  font-size: 14px;
}
.footer_body .social_site:hover {
  filter: brightness(1);
}

.content {
  display: flex;
  position: relative;
  top: 80px;
  margin-bottom: 80px;
}

body {
  font-family: "Manrope", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100%;
}

.inside {
  width: 80%;
  margin: auto;
}